In [13]:
import numpy as np

In [8]:
test = [2,3,4,5,6,7,234,3,36,2346,63,346,3246,3246,362,3426,342,23,56,65,453,67,543]

counter=0
for e in test:
    if e%2==0:
        counter=counter+1
print(counter)

13

In [16]:
test3 = [1,2,3,4,5]

In [18]:
test3.pop()

5

In [19]:
test3

[1, 2, 3, 4]

In [14]:
np.mean([e % 2 == 0 for e in test])

0.56521739130434778

In [9]:
def evenCount(lst):
    return sum([e % 2 == 1 for e in lst])

evenCount(test)

13

In [51]:
rnums = ['XV', 'XVIII','MCM', 'CDII', 'L']
def romanConverter(dog):
    
    stuff = {'i':1, 'v':5, 'x':10, 'l':50,
                 'c':100, 'd':500, 'm':1000}
    for do
    dog = dog.lower()
    
    rabbit = 0
    
    for pizza in dog:
        rabbit += stuff[pizza]  # this is a comment!!! Hi!!
    
    return rabbit


for e in rnums:
    print(romanConverter(e))

15
18
2100
602
50

In [44]:
test6= 'string'
test6[0]
#for l in test6:
 #   print(l)

's'

In [38]:
valueDict = {'i':1, 'v':5, 'x':10, 'l':50,
                 'c':100, 'd':500, 'm':1000}

In [39]:
valueDict['c']

100

In [36]:
[(i, i%2) for i in range(21)]

[(0, 0),
 (1, 1),
 (2, 0),
 (3, 1),
 (4, 0),
 (5, 1),
 (6, 0),
 (7, 1),
 (8, 0),
 (9, 1),
 (10, 0),
 (11, 1),
 (12, 0),
 (13, 1),
 (14, 0),
 (15, 1),
 (16, 0),
 (17, 1),
 (18, 0),
 (19, 1),
 (20, 0)]

In [37]:
35 % 2

1

In [34]:
35 % 3 == 2

True

In [3]:
def laura(lst):
    counter=0
    for e in lst:
        if e%2==0:
            counter=counter+1
    return counter

In [4]:
laura(test)

13

In [6]:
test2 = [(1,2),(2,3),(4,5),(6,5),(8,7)]

for one, two in test2:
    print(one)
    print(two)
    print(one+two)

1
2
3
2
3
5
4
5
9
6
5
11
8
7
15